# Google Formsの回答送信先（末尾が /formResponse のURL）
NUXT_PUBLIC_GOOGLE_FORM_ACTION_URL=https://docs.google.com/forms/d/e/1FAIpQLSd9GmzXnWz90bddmedTCM1rX7BLKujtMIBXbw1Emqo72-AGDA/formResponse
NUXT_PUBLIC_GOOGLE_FORM_CONTACT_TYPE=entry.1042758237
NUXT_PUBLIC_GOOGLE_FORM_NAME=entry.1602038649
NUXT_PUBLIC_GOOGLE_FORM_PREFERRED_CONTACT=entry.1552285854
NUXT_PUBLIC_GOOGLE_FORM_PHONE=entry.1991464243
NUXT_PUBLIC_GOOGLE_FORM_EMAIL=entry.1600913936
NUXT_PUBLIC_GOOGLE_FORM_RELATION=entry.747819089
NUXT_PUBLIC_GOOGLE_FORM_CONTACT_TIME=entry.240984600
NUXT_PUBLIC_GOOGLE_FORM_AREA=entry.675409337
NUXT_PUBLIC_GOOGLE_FORM_URGENCY=entry.2116029241
NUXT_PUBLIC_GOOGLE_FORM_MESSAGE=entry.681228178
NUXT_PUBLIC_GOOGLE_FORM_CONSIDERATION=entry.549283541
NUXT_PUBLIC_GOOGLE_FORM_PRIVACY_CONSENT=entry.500875592
